<div id="heading" class="mat-typography container" [ngStyle.lt-md]="{ 'margin-top': '30px', 'margin-bottom': '30px' }">
	<div class="row">
		<div class="col-md-6 col-lg-6 col-xs-6 leftCol">
			<div [class.animated]="isHeading" [class.fadeInLeft]="isHeading">
				<h1 [ngStyle.xs]="{ 'font-size': '32px' }" [ngStyle.sm]="{ 'font-size': '42px' }" class="leftH">
					Welcome To University
				</h1>
			</div>
			<div [class.animated]="isSubheading" [class.fadeInLeft]="isSubheading" class="leftSubH">
				<h2 [ngStyle.xs]="{ 'font-size': '18px' }" [ngStyle.sm]="{ 'font-size': '22px' }">
					An Educational Social Network
				</h2>
			</div>
		</div>
		<div class="col-md-6 col-lg-6 col-xs-6 rightCol">
			<div [class.animated]="isHeading" [class.fadeInRight]="isHeading">
				<h1 [ngStyle.xs]="{ 'font-size': '32px' }" [ngStyle.sm]="{ 'font-size': '42px' }" class="rightH">
					About Education.com in 2 minutes
				</h1>
			</div>
			<div [class.animated]="isSubheading" [class.fadeInRight]="isSubheading" class="rightSubH">
				<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen="" frameborder="0" height="282" src="https://www.youtube.com/embed/4pViQhUcpiE"
					width="400"></iframe>
			</div>
		</div>
	</div>
	<!-- <div class="container">
		<div class="heading-section" fxLayout="column" fxLayoutAlign="center center">
			<div [class.animated]="isHeading" [class.fadeInLeft]="isHeading">
				<h1 [ngStyle.xs]="{ 'font-size': '32px' }" [ngStyle.sm]="{ 'font-size': '42px' }">
					This is the expansion title
				</h1>
			</div>
			<div [class.animated]="isSubheading" [class.fadeInRight]="isSubheading">
				<h2 [ngStyle.xs]="{ 'font-size': '18px' }" [ngStyle.sm]="{ 'font-size': '22px' }">
					Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus
					numquam quis.
				</h2>
			</div>
			<div fxLayout="row" [class.animated]="isHeadingBtn" [class.fadeIn]="isHeadingBtn"
				[class.heading-btn]="isHeadingBtn">
				<a class="heading-button-left" mat-flat-button color="accent">Action</a>
				<a class="heading-button-right" mat-stroked-button color="accent">Action</a>
			</div>
		</div>
	</div> -->
</div>